@font-face {
  font-family: 'Helvetica Neue';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/HelveticaNeueCyr-Light.otf');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url('/public/fonts/HelveticaNeueCyr-Light.otf');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/HelveticaNeueCyr-Medium.otf');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url('/public/fonts/HelveticaNeueCyr-Bold.otf');
}

@font-face {
  font-family: 'Kefa';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Kefa-Regular.TTF');
}

@font-face {
  font-family: 'Magistral Bold';
  font-display: swap;
  font-style: light;
  font-weight: 100;
  src: url('/public/fonts/magistral-bold.ttf');
}

@font-face {
  font-family: 'Magistral Light';
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url('/public/fonts/magistral-light.ttf');
}

@font-face {
  font-family: 'Magistral Book';
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url('/public/fonts/magistral-book.ttf');
}
